.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
}

.headertext {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 27px;
    color: white;
}

.content {
    width: 100vw;
    height: 100%;
    display: grid;
    place-items: center;
    margin-bottom: 12.5%;
}

.connectelements {
    display: grid;
    place-items: center;
}

.connectbutton {
    min-width: 115px;
    height: 40px;
    border-radius: 5px;
    display: grid;
    place-items: center;
    padding: 0 6.5px 0 6.5px;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3c1053, #ad5389);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3c1053, #ad5389);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.connectbutton:hover {
    cursor: pointer;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3c1053, #690642);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3c1053, #690642);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.connectbuttontext {
    font-size: 22.5px;
    color: white;
}

.walletconnectedcontent {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.minttitle {
    font-size: 26.5px;
}

.mintform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.mintdomaininputwrapper {
    display: flex;
    flex-direction: row;
    position: relative;
}

.mintdomaininput,
.mintdatainput {
    font-size: 20px;
    height: 30px;
    text-align: left;
    width: 160px;
}

.mintdomaininput:hover,
.mintdatainput:hover {
    background-color: rgb(241, 241, 241);
}

.mintdatainput {
    width: 210px;
}

.mintdomaintld {
    width: 50px;
    background-color: #8247e5;
    display: grid;
    place-items: center;
    font-size: 17px;
    border-top-right-radius: 2.5px;
    border-bottom-right-radius: 2.5px;
}

.mintsubmit {
    font-size: 17px;
    background-color: #8247e5;
    color: white;
    padding: 6px 12px 6px 12px;
    border-radius: 20px;
}

.mintsubmit:hover {
    background-color: #590bdf;
}

.mintdomainprice {
    color: white;
    position: absolute;
    width: 100%;
    font-size: 17.5px;
    left: 230px;
    top: 6.5px;
}