.mintform {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.mintdomaininputwrapper {
    display: flex;
    flex-direction: row;
    position: relative;
}

.mintdomaininput,
.mintdatainput {
    font-size: 20px;
    height: 30px;
    text-align: left;
    width: 160px;
}

.mintdomaininput:hover,
.mintdatainput:hover {
    background-color: rgb(241, 241, 241);
}

.mintdatainput {
    width: 210px;
}

.mintdomaintld {
    width: 50px;
    background-color: #8247e5;
    display: grid;
    place-items: center;
    font-size: 17px;
    border-top-right-radius: 2.5px;
    border-bottom-right-radius: 2.5px;
}

.mintdomainprice {
    color: white;
    position: absolute;
    width: 100%;
    font-size: 17.5px;
    left: 230px;
    top: 6.5px;
}

.mintsubmit {
    font-size: 17px;
    background-color: #8247e5;
    color: white;
    padding: 6px 12px 6px 12px;
    border-radius: 10px;
}

.mintsubmit:hover {
    background-color: #590bdf;
}