.popup {
    position: absolute;
    background-color: #8247e5;
    color: white;
    font-size: 21px;
    padding: 6px;
    border-radius: 6px;
    left: 4%;
    top: 105%;
    overflow: hidden;
    max-width: 90%;
    max-height: 20%;
}