.connectelements {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    place-items: center;
}

.connectbutton {
    min-width: 115px;
    height: 40px;
    border-radius: 5px;
    display: grid;
    place-items: center;
    padding: 0 6.5px 0 6.5px;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3c1053, #ad5389);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3c1053, #ad5389);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.connectbutton:hover {
    cursor: pointer;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3c1053, #690642);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3c1053, #690642);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.connectbuttontext {
    font-size: 22.5px;
    color: white;
}